name: Test Pull Request

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build_services:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build WebClient
        run: docker build ./WebClient
